@import '../../theme/variables';

.header-wrapper {

  .header-top {
    background: #fff;

    :global {
      .navbar-default {
        margin-bottom: 0;
        background: #fff;
        border-color: #fff;

        .navbar-nav > li {
          > a {
            color: #3a3f51;

            &.dropdown-toggle {
              padding: 10px 5px;
            }
          }

          > .dropdown-menu {
              margin-top: 15px;
          }
        }
      }
    }
  }

  :global {
    .navbar {
      border-radius: 0;
    }
  }

  .nav-authorized  {
    @media only screen and (min-width: $screen-sm-min) {
      display: flex;
      align-items: center;
    }
  }

  .avatarLink {
    a {
      padding: 0 0 0 30px;
    }

    img {
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      width: 40px;
    }
  }
}
